services:
  ws:
    build:
      context: ./
      dockerfile: Dockerfile
    working_dir: /app
    volumes:
      - ./src/:/app/src/
      - ./scripts/:/app/scripts/
      - ./test/:/app/test/
      - ./figures_container/:/app/figures/
    command: tail -f /dev/null  # Temporary command to keep the container running
