services:
  ws:
    build: .
    image: transportpolynomials:latest
    working_dir: /root
    volumes:
      - ./figures_container:/root/TransportPolynomials/figures
      #- .:/root/TransportPolynomials
    command: tail -f /dev/null  # Temporary command to keep the container running
